services:
    # Symfony PHP-FPM
    symfony:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: symfony_app
        restart: always
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
        command: php-fpm
        depends_on:
            - mysql
        networks:
            - symfony_net

    # Nginx
    nginx:
        image: nginx:alpine
        container_name: nginx_server
        restart: always
        ports:
            - "8000:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - symfony
        networks:
            - symfony_net

    # MySQL
    mysql:
        image: mysql:8.0
        container_name: mysql_db
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        ports:
            - "3306:3306" # needed for TablePlus or local connections
        volumes:
            - webapp_mysql_data:/var/lib/mysql
        networks:
            - symfony_net

volumes:
    webapp_mysql_data:

networks:
    symfony_net:
