<div
    x-show="openModal"
    data-turbo="false"
    x-transition.opacity
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm"
    @click.self="openModal = false"
>
    <div
        class="bg-white text-gray-800 rounded-2xl shadow-2xl w-[700px] max-h-[80vh] overflow-y-auto p-6 transform transition-all duration-300"
        x-transition:enter="ease-out duration-200"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="ease-in duration-150"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        x-html="modalHtml"
    ></div>
</div>
