{% for label, messages in app.flashes %}
    {% set color = {
        'success': 'green',
        'error': 'red',
        'danger': 'red',
        'warning': 'yellow',
        'info': 'blue'
    }[label]|default('gray') %}

    {% for message in messages %}
        <div
            x-data="{ show: true }"
            x-show="show"
            x-init="setTimeout(() => show = false, 5000)"
            x-transition.opacity
            class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"
        >
            <div
                class="bg-white rounded-lg shadow-lg max-w-md w-full p-6 border-l-4 border-{{ color }}-500"
            >
                <div class="flex justify-between items-start">
                    <h3 class="text-lg font-bold text-{{ color }}-700 capitalize">{{ label }}</h3>
                    <button
                        @click="show = false"
                        class="text-gray-400 hover:text-gray-600 font-bold text-xl"
                    >
                        &times;
                    </button>
                </div>
                <p class="mt-4 text-gray-700">{{ message }}</p>
            </div>
        </div>
    {% endfor %}
{% endfor %}
