    <div class="flex items-center space-x-2">
        {{ include("UserPage/Admin/forms/user_roles/_show_link.html.twig") }}
        {{ include("UserPage/Admin/forms/user_roles/_edit_link.html.twig") }}
        {{ include("UserPage/Admin/forms/user_roles/_archive_link.html.twig") }}
        {{ include("UserPage/Admin/forms/user_roles/_delete_link.html.twig") }}
    </div>
