@import "tailwindcss"; 
@source not "../../public";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    background-color: rgb(231, 231, 231);
    font-family: 'Inter', sans-serif;
}

/* Custom primary & secondary colors */
.bg-primary { background-color: #FF7828; }
.text-primary { color: #FF7828; }
.border-primary { border-color: #FF7828; }

.bg-secondary { background-color: #6C6C6C; }
.text-secondary { color: #6C6C6C; }
.border-secondary { border-color: #6C6C6C; }

/* Gradient text example */
.text-gradient {
    background-image: linear-gradient(to right, #FF7828, #6C6C6C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .py-20 {
    padding-block: calc(var(--spacing) * 20);
}
.py-24 {
    padding-block: calc(var(--spacing) * 24);
}
.py-32 {
    padding-block: calc(var(--spacing) * 32);
}
.py-42 {
    padding-block: calc(var(--spacing) * 42);
} */