{% extends 'base.html.twig' %}

{% block body %}
<div class="flex">
    {% include 'UserPage/Admin/_sidebar.html.twig' %}

    <div class="flex-1 min-h-screen flex flex-col bg-gray-50">
        {% include 'UserPage/Admin/_header.html.twig' %}
        <main class="p-6 flex-1 overflow-y-auto">
            {% block admin_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
