<header class="bg-white shadow-sm sticky top-0 z-50">
    <div
        class="container mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center"
    >
        <a href="/">
            <img
                src="{{ asset('images/logo.png') }}"
                alt="Sabre Armory Logo"
                class="h-12 w-auto mr-3"
            />
        </a>
        <nav class="hidden md:flex space-x-6">
            <a
                href="#features"
                class="text-gray-600 hover:text-primary transition-colors duration-300 font-medium"
                >Features</a
            >
            <a
                href="#about"
                class="text-gray-600 hover:text-primary transition-colors duration-300 font-medium"
                >About</a
            >
            <a
                href="{{ path('app_contacts') }}"
                class="text-gray-600 hover:text-primary transition-colors duration-300 font-medium"
                >Contact</a
            >
        </nav>
        <a
            href="{{ path('app_login') }}"
            class="hidden md:inline-block bg-primary hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-full shadow-lg transition-transform transform hover:scale-105"
            >Login</a
        >
    </div>
</header>
