    <div class="flex items-center space-x-2">
        {{ include("UserPage/Admin/forms/unit/_show_link.html.twig") }}
        {{ include("UserPage/Admin/forms/unit/_edit_link.html.twig") }}
        {{ include("UserPage/Admin/forms/unit/_delete_link.html.twig") }}
    </div>
