{% if unit is defined %}
    <a
        href="{{ path('app_unit_edit', { id: unit.id }) }}"
        @click.prevent="loadModal('{{ path('app_unit_edit', { id: unit.id }) }}')"
        class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white text-xs font-medium px-3 py-1 rounded-lg shadow inline-block"
    >
        Edit
    </a>
{% endif %}
